@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to temperature converter!</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">You can see source code of this application on GitHub</a>.</p>
    <p><a href="https://it-academy.by">Forge of IT specialists</a>.</p>
</div>
<div class="text-center">
    <a class="nav-link text-dark" asp-controller="Convertation" asp-action="Index"><h3>Start convertation</h3></a>
</div>
